html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Comfortaa', sans-serif;
}

::-webkit-scrollbar {
	display: none;
}

a {
	color: inherit;
	text-decoration: none;
}

p {
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
}
